#spring:
#  profile: test
##  main:
##    allow-bean-definition-overriding: true
##    lazy-initialization: true
#  datasource:
#    driverClassName: org.h2.Driver
#    url: jdbc:h2:mem:testdb
#    password: sa
#    username:
#    schema: testdb
#  flyway:
#    check-location: true
#    locations: ./db/migration
#    schemas: testdb
##    baseline-on-migrate: true
##    url: "jdbc:h2:mem:testdb"
##    user: sa
##    password:
#  jpa:
#    generate-ddl: true
#    database-platform: org.hibernate.dialect.H2Dialect
#    properties:
#      hibernate:
#        default_schema: testdb
##    hibernate:
##      ddl-auto: create

#server:
#  port: 9093
debug: false
spring:
  spring:
#    main:
#      allow-bean-definition-overriding: true
#  properties:
#    hibernate:
#      globally_quoted_identifiers: true
  datasource:
    driverClassName: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/address-book-db
    password: admin
    username: admin
#    testOnBorrow: true
    testWhileIdle: true
    schema: testdb
  #    hikari:
  #      maximum-pool-size: 5
  #      idle-timeout: 600000
  flyway:
    defaultSchema: testdb
    baseline-on-migrate: true
#    enabled: true
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: create-drop
#    #    show-sql: false
    properties:
      hibernate:
        #        format_sql: false
        default_schema: testdb
#        jdbc:
#          lob:
#            non_contextual_creation: true

#    application:
#
#      name: addressBookTest