#spring.datasource.url=jdbc:postgresql://localhost:5432/address-book-db
#spring.datasource.username=admin
#spring.datasource.password=admin
#spring.datasource.driver-class-name=org.postgresql.Driver
spring.jpa.hibernate.ddl-auto: update
#spring.flyway.baseline-on-migrate=true

