#server:
#  port: 8080

debug: false
spring:
  spring:
  datasource:
    driverClassName: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/address-book-db
    password: admin
    username: admin
    testWhileIdle: true
    schema: testdb
  flyway:
    defaultSchema: testdb
    baseline-on-migrate: true
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: create-drop
    properties:
      hibernate:
        default_schema: testdb
